h1 {
    font-size: 50px;
    color: red;
}
img:hover{
    background-color: gold;
}

.bacon{
    background-color: green;
}

.broccoli{
    background-color: red;
}

.circular{
    border-radius: 100%;
}

#heading {
    color: blue;
}